.card-place{
    width: 297px;
    height: 436px;
}

.place-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.25px;
    color: #000000;
}

.place-location{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;

    letter-spacing: 0.25px;

    color: #ADADAD;
}

.place.subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    letter-spacing: 0.25px;
    color: #1A3440;
}

.edit-button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.4px;
    color: #40E0D0 !important;
}

.delete-button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.4px;
    color: #EF6B6B !important;
}