.background{
    background-image: url("../../assets/login-background.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100vh;
    width: 100vw;
}

.login-wrapper{
    height: 100vh;
}

.login{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    height: 361px;
    width: 404px !important;
}

.button{
    background: #40E0D0;
    width: 100%;
}