.card-accommodation{
    flex-grow: 1;
    height: 413px;
    width: 297px !important;
}

.image-container {
    object-fit: cover;
}

.accommodation-card-image{
    border-radius: 12px;
    height: 266px;
    object-fit: cover;
    width: 297px;
}

.accommodation-title{
    color: #000000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 120%;
}

.accommodation-location{
    color: #ADADAD;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 120%;
}

.accommodation-price{
    color: #1A3440;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 120%;
}