.brand{
    color: #1A3440;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.tab{
    color: #1A3440;
    font-family: 'Roboto';
    text-decoration-line: underline;
}

.logout{
    color: #1A3440;
    font-family: 'Roboto';
    text-decoration: none;
}

.links{
    gap: 15px
}