.brand{
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    height: 32px;
    line-height: 160%;
}

.tab{
    color: #1A3440;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 24px;
    line-height: 150%;
    text-decoration-line: underline !important;
}

.logout{
    color: #1A3440;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 24px;
    letter-spacing: 0.4px;
    line-height: 170%;
}