.reservation_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 34px !important;
    line-height: 120%;
    letter-spacing: 0.25px;
    color: #000000;
}