.reservation-title{
    color: #000000;
    font-family: 'Roboto';
    font-size: 34px !important;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 120%;
}

.reservation-form{
    width: 50%;
}

.reservation-info{
    width: 50%;
}