.reservation-card{
    border: 1px solid hsl(0, 0%, 89%);
    border-radius: 8px;
}

.reservation-image{
    padding: 16px;
    width: 45%;
}

.reservation-img{
    width: 100%;
}

.reservation-info{
    padding: 16px;
}